@media (max-width:425px){
    .fi-section{
        overflow-x: auto;
    }
    .fi-section-content-ctn{
        width: 650px;
    }
    .filament-fullcalendar .fc-toolbar-title{
        font-size:1.875rem!important;
        line-height:2.25rem!important
    }
    .filament-fullcalendar.fc .fc-button{
        min-height:2.25rem;
        border-radius:.5rem;
        padding:.25rem 6px;
        font-size:.875rem;
        line-height:1.25rem;
        font-weight:500;
    }
}
